# Ignore Python cache and unnecessary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Ignore Git files
.git/
.gitignore

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local libraries and environments
venv/
env/
node_modules/
